<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Portfolio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- {% comment %} Header {% endcomment %} -->
        <header>
            <nav>
                <a href-"/" >Home</a>
                <a href-"/" >About</a>
                <a href-"/" >Contact</a>
            </nav>
        </header>

        <!-- carousel -->
        <div class="carousel ">
            <!-- list item -->
            <div class="list">
                <div class="item">
                    <img src="" alt="beautiful shot">
                    <div class="content">
                        <div class="author">Free AI</div>
                        <div class="title"></div>
                        <div class="topic">AI Gen Images Looking real</div>
                        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit neque necessitatibus enim qui assumenda itaque?</div>
                        <div class="buttons">
                            <button class="more_btn">SEE MORE</button>
                            <button class="download_btn">DOWNLOAD</button>
                        </div>
                    </div>
                    
                </div>
                <!-- <div class="item"> 
                    <img src="../images/beautiful-shot.jpg" alt="majestic shot">
                    <div class="content">
                        <div class="author">Free AI</div>
                        <div class="title">Beautiful AI Gen Image</div>
                        <div class="topic">AI Gen Images Looking real</div>
                        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit neque necessitatibus enim qui assumenda itaque?</div>
                        <div class="buttons">
                            <button class="more_btn">SEE MORE</button>
                            <button class="download_btn">DOWNLOAD</button>
                        </div>
                    </div>
                    
                </div>
                <div class="item">
                    <img src="../images/sunrise-farmland.jpg" alt="sunrise shot">
                    <div class="content">
                        <div class="author">Free AI</div>
                        <div class="title">Beautiful AI Gen Image</div>
                        <div class="topic">AI Gen Images Looking real</div>
                        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit neque necessitatibus enim qui assumenda itaque?</div>
                        <div class="buttons">
                            <button class="more_btn">SEE MORE</button>
                            <button class="download_btn">DOWNLOAD</button>
                        </div>
                    </div>
                    
                </div>
                <div class="item">
                    <img src="../images/view-old-tree.jpg" alt="old tree shot">
                    <div class="content">
                        <div class="author">Free AI</div>
                        <div class="title">Beautiful AI Gen Image</div>
                        <div class="topic">AI Gen Images Looking real</div>
                        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit neque necessitatibus enim qui assumenda itaque?</div>
                        <div class="buttons">
                            <button class="more_btn">SEE MORE</button>
                            <button class="download_btn">DOWNLOAD</button>
                        </div>
                    </div>
                    
                </div>
                <div class="item">
                    <img src="../images/wide-shot-road.jpg" alt="beautiful wide shot">
                    <div class="content">
                        <div class="author">Free AI</div>
                        <div class="title">Beautiful AI Gen Image</div>
                        <div class="topic">AI Gen Images Looking real</div>
                        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit neque necessitatibus enim qui assumenda itaque?</div>
                        <div class="buttons">
                            <button type="button" class="more_btn">SEE MORE</button>
                            <button type="button" class="download_btn">DOWNLOAD</button>
                        </div>
                    </div>
                    
                </div> -->
            </div>

            <!-- thumbnails -->
            <div class="thumbnail">
                <div class="item">
                    <img src="/images/beautiful-shot.jpg" alt="">
                    <div class="thumb_content">
                        <div class="title">
                            Name Slider 1
                        </div>
                        <div class="desc">
                            Descriptions
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/images/sunrise-farmland.jpg" alt="">
                    <div class="thumb_content">
                        <div class="title">
                            Name Slider 2
                        </div>
                        <div class="desc">
                            Descriptions
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/images/view-old-tree.jpg" alt="">
                    <div class="thumb_content">
                        <div class="title">
                            Name Slider 3
                        </div>
                        <div class="desc">
                            Descriptions
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/images/wide-shot-road.jpg" alt="">
                    <div class="thumb_content">
                        <div class="title">
                            Name Slider 4
                        </div>
                        <div class="desc">
                            Descriptions
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/wide-shot-road.jpg" alt="">
                    <div class="thumb_content">
                        <div class="title">
                            Name Slider 5
                        </div>
                        <div class="desc">
                            Descriptions
                        </div>
                    </div>
                </div>
            </div>

            <!-- slider arrows -->
            <div class="arrows">    
                <button type="button" id="prev" class="prev" >
                    <
                </button>
                <button type="button" id="next" class="next">
                    >
                </button>
            </div>
            <div class="timer"></div>

        </div>

        
        <script src="../js/app.js" async defer></script>
    </body>
</html>
